Repository TMS-Thuong/final-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

add
  .husky/commit-msg
  .husky/pre-push
Due: none

feat: update husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  BE/.commitlintrc
  BE/package.json
  commitlint.config.js
Due: none

feat: update husky
  package-lock.json
  package.json
Due: none

feat: update husky
  .husky/pre-push
  BE/package.json
  package.json
Due: none

feat: fix BE
  BE/package.json
  BE/src/controllers/authen.controller.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: fix FE
  FE/src/App.vue
  FE/src/api/auth.ts
  FE/src/components/atoms/auth/_utils/GoogleLoginButtonComponent.vue
  FE/src/components/atoms/auth/_utils/PasswordInputComponent.vue
  FE/src/components/auth/forgot-password/FormComponent.vue
  FE/src/components/auth/login/FormComponent.vue
  FE/src/components/auth/register/FormComponent.vue
  FE/src/components/auth/reset-password/FormComponent.vue
  FE/src/components/molecules/auth/_utils/BoxTextComponent.vue
  FE/src/constants/auth/_utils/form.ts
  FE/src/constants/auth/_utils/message.ts
  FE/src/enums/i18n.ts
  FE/src/enums/router.ts
  FE/src/enums/toast.ts
  FE/src/helpers/configAxios.ts
  FE/src/helpers/stringUtils.ts
  FE/src/hooks/useToast.ts
  FE/src/i18n/en/index.ts
  FE/src/router/index.ts
  FE/src/stores/auth/login/token.store.ts
  FE/src/stores/useToastMessageStore.ts
  FE/src/views/HomeView.vue
  FE/src/views/ResetPWView.vue
  FE/src/views/auth/reset-password/FormView.vue
Due: cd FE && npm run lint, cd FE && npm run format

feat: fix
  BE/src/services/email.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: fix language
  BE/src/utils/text-email.util.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: update UI
  BE/src/controllers/authen.controller.ts
  BE/src/services/auth-user.service.ts
  FE/src/App.vue
  FE/src/assets/image-auth.png
  FE/src/assets/nen.jpg
  FE/src/components/atoms/ImagePlaceholderComponent.vue
  FE/src/components/atoms/InputTextComponent.vue
  FE/src/components/atoms/SubmitButtonComponent.vue
  FE/src/components/atoms/auth/_utils/GoogleLoginButtonComponent.vue
  FE/src/components/atoms/auth/_utils/PasswordInputComponent.vue
  FE/src/components/auth/forgot-password/FormComponent.vue
  FE/src/components/auth/login/FormComponent.vue
  FE/src/components/auth/register/FormComponent.vue
  FE/src/components/auth/reset-password/FormComponent.vue
  FE/src/components/icons/CouponIcon.vue
  FE/src/components/icons/EasyReturnsIcon.vue
  FE/src/components/icons/GiftIcon.vue
  FE/src/components/icons/ProductVarietyIcon.vue
  FE/src/components/icons/ShippingIcon.vue
  FE/src/components/molecules/auth/_utils/BoxTextComponent.vue
  FE/src/components/molecules/auth/_utils/RadioButtonGroupComponent.vue
  FE/src/components/molecules/utils/ToastComponent.vue
  FE/src/constants/auth/_utils/form.ts
  FE/src/constants/auth/_utils/message.ts
  FE/src/css/main.css
  FE/src/hooks/useToast.ts
  FE/src/i18n/en/index.ts
  FE/src/validations/form.ts
  FE/src/views/ForgotPWView.vue
  FE/src/views/LoginView.vue
  FE/src/views/RegisterView.vue
  FE/src/views/ResetPWView.vue
  FE/vite.config.ts
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

chore: remove migrations folder from version control
  BE/.gitignore
  BE/prisma/migrations/20250502041508_init/migration.sql
  BE/prisma/migrations/20250506160323_change_gender_to_int/migration.sql
  BE/prisma/migrations/migration_lock.toml
  BE/prisma/schema.prisma
Due: none

feat: update prisma
  BE/prisma/schema.prisma
Due: none

feat:tam
  FE/src/components/icons/.gitkeep
  FE/src/components/icons/CouponIcon.vue
  FE/src/components/icons/EasyReturnsIcon.vue
  FE/src/components/icons/GiftIcon.vue
  FE/src/components/icons/HeartIcon.vue
  FE/src/components/icons/ProductVarietyIcon.vue
  FE/src/components/icons/SearchIcon.vue
  FE/src/components/icons/ShippingIcon.vue
  FE/src/components/molecules/utils/SearchInputComponent.vue
Due: cd FE && npm run lint, cd FE && npm run format

update
  BE/src/scripts/delete.ts
  BE/src/scripts/importProduct.ts
  BE/src/scripts/importProductImg.ts
  BE/src/scripts/reset.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: config-ci
  .github/workflows/ai-review.yml
Due: none

feat: product list and product detail
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  BE/src/app.ts
  BE/src/config/product.message.ts
  BE/src/controllers/product.controller.ts
  BE/src/routes/product.routes.ts
  BE/src/schemas/product.schema.ts
  BE/src/services/auth-user.service.ts
  BE/src/services/product.service.ts
  BE/src/types/product.type.ts
  package-lock.json
  package.json
Due: cd BE && npm run lint, cd BE && npm run format

fix: comment BE done
  BE/src/config/product.message.ts
  BE/src/controllers/product.controller.ts
  BE/src/schemas/product.zod.ts
  BE/src/services/product.service.ts
  BE/src/types/product.type.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: comment BE done
  BE/src/services/product.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: comment BE done
  BE/src/config/product.message.ts
  BE/src/services/product.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: component
  FE/package-lock.json
  FE/package.json
  FE/src/components/atoms/InputTextComponent.vue
  FE/src/components/atoms/auth/_utils/PasswordInputComponent.vue
  FE/src/components/auth/forgot-password/FormComponent.vue
  FE/src/components/auth/login/FormComponent.vue
  FE/src/components/auth/register/FormComponent.vue
  FE/src/components/auth/reset-password/FormComponent.vue
  FE/src/components/icons/CheckCircleIcon.vue
  FE/src/components/icons/ChevronDownIcon.vue
  FE/src/components/icons/ClockIcon.vue
  FE/src/components/icons/CouponIcon.vue
  FE/src/components/icons/CreditCartIcon.vue
  FE/src/components/icons/EasyReturnsIcon.vue
  FE/src/components/icons/GiftIcon.vue
  FE/src/components/icons/MenuIcon.vue
  FE/src/components/icons/ProductVarietyIcon.vue
  FE/src/components/icons/ShippingIcon.vue
  FE/src/components/icons/TruckIcon.vue
  FE/src/components/icons/starIcon.vue
  FE/src/components/molecules/auth/_utils/BoxTextComponent.vue
  FE/src/components/molecules/utils/SearchInputComponent.vue
  FE/src/css/icon.scss
Due: cd FE && npm run lint, cd FE && npm run format

feat: home
  FE/package-lock.json
  FE/package.json
  FE/src/App.vue
  FE/src/assets/logo.png
  FE/src/components/auth/login/FormComponent.vue
  FE/src/components/home/HeaderComponent.vue
  FE/src/components/icons/CartIcon.vue
  FE/src/components/icons/CheckCircleIcon.vue
  FE/src/components/icons/ChevronDownIcon.vue
  FE/src/components/icons/CouponIcon.vue
  FE/src/components/icons/CreditCartIcon.vue
  FE/src/components/icons/EasyReturnsIcon.vue
  FE/src/components/icons/GiftIcon.vue
  FE/src/components/icons/HeartIcon.vue
  FE/src/components/icons/Logo.vue
  FE/src/components/icons/MenuIcon.vue
  FE/src/components/icons/PersonIcon.vue
  FE/src/components/icons/ProductVarietyIcon.vue
  FE/src/components/icons/ShippingIcon.vue
  FE/src/components/icons/TruckIcon.vue
  FE/src/components/icons/starIcon.vue
  FE/src/components/molecules/utils/SearchInputComponent.vue
  FE/src/css/icon.scss
  FE/src/views/HomeView.vue
Due: cd FE && npm run lint, cd FE && npm run format

chore: update review
  .github/workflows/ai-review.yml
Due: none

feat: update FE
  FE/src/App.vue
  FE/src/assets/banner.png
  FE/src/assets/no-img.png
  FE/src/components/atoms/ImageDisplayComponent.vue
  FE/src/components/auth/login/FormComponent.vue
  FE/src/components/home/HeaderComponent.vue
  FE/src/components/icons/ChevronDownIcon.vue
  FE/src/components/icons/CreditCartIcon.vue
  FE/src/components/icons/GroupUserIcon.vue
  FE/src/components/icons/Logo.vue
  FE/src/components/icons/ProductIcon.vue
  FE/src/components/icons/ShieldCheckIcon.vue
  FE/src/components/icons/StarIcon.vue
  FE/src/components/icons/TelephoneIcon.vue
  FE/src/components/molecules/home/HeroSectionComponent.vue
  FE/src/components/molecules/utils/FeatureSelectionComponent.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/components/molecules/utils/HeaderSelectionComponent.vue
  FE/src/components/molecules/utils/SearchInputComponent.vue
  FE/src/components/molecules/utils/UserDropdown.vue
  FE/src/enums/i18n.ts
  FE/src/i18n/en/index.ts
  FE/src/views/HomeView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: api get img product
  BE/src/schemas/product.zod.ts
  BE/src/services/product.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: comment api
  BE/src/controllers/product.controller.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: homepage
  FE/src/components/home/FeaturedProductsComponent.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/views/home/HomeView.vue
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

feat: product deatail
  .github/workflows/ai-review.yml
  BE/src/config/product.message.ts
  BE/src/services/product.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: backend product detail
  BE/src/app.ts
  BE/src/config/brand.message.ts
  BE/src/config/category.message.ts
  BE/src/controllers/brand.controller.ts
  BE/src/controllers/category.controller.ts
  BE/src/routes/brand.routes.ts
  BE/src/routes/category.routes.ts
  BE/src/schemas/brand.schema.ts
  BE/src/schemas/brand.zod.ts
  BE/src/schemas/category.schema.ts
  BE/src/schemas/category.zod.ts
  BE/src/schemas/product.schema.ts
  BE/src/services/brand.service.ts
  BE/src/services/categories.service.ts
  BE/src/services/category.service.ts
  BE/src/services/product.service.ts
  BE/src/types/brand.type.ts
  BE/src/types/category.type.ts
  BE/src/types/product.type.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: done
  FE/src/api/brand.ts
  FE/src/api/category.ts
  FE/src/api/product.ts
  FE/src/components/atoms/StarRatingComponent.vue
  FE/src/components/molecules/utils/FilterDropdownComponent.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/components/molecules/utils/SearchInputComponent.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: product detail
  BE/src/controllers/product.controller.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: product detail page
  FE/src/components/atoms/ImageDisplayComponent.vue
  FE/src/components/icons/HeartIcon.vue
  FE/src/components/icons/ShareIcon.vue
  FE/src/components/icons/ShoppingCartIcon.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/components/molecules/utils/HeaderSelectionComponent.vue
  FE/src/components/molecules/utils/SearchInputComponent.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/components/products/ProductImageGalleryComponent.vue
  FE/src/css/tailwind.css
  FE/src/enums/router.ts
  FE/src/i18n/en/index.ts
  FE/src/router/index.ts
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: product detail page
  BE/src/config/brand.message.ts
  BE/src/controllers/brand.controller.ts
  FE/src/api/product.ts
  FE/src/components/atoms/StarRatingComponent.vue
  FE/src/components/footer/FooterOrganism.vue
  FE/src/components/icons/CouponIcon.vue
  FE/src/components/icons/CreditCartIcon.vue
  FE/src/components/icons/EasyReturnsIcon.vue
  FE/src/components/icons/PersonIcon.vue
  FE/src/components/icons/StarIcon.vue
  FE/src/components/molecules/utils/FilterDropdownComponent.vue
  FE/src/components/molecules/utils/UserDropdown.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/products/ProductListView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

Path conditions:
  cd BE && npm run lint: any of: BE/**/*.{ts,js}
  cd BE && npm run format: any of: BE/**/*.{ts,js}
  cd FE && npm run lint: any of: FE/**/*.{ts,js,vue}
  cd FE && npm run format: any of: FE/**/*.{ts,js,vue}
