Repository TMS-Thuong/final-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: product detail page
  FE/src/components/products/ProductCardComponent.vue
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: product detail page
  FE/src/components/products/ProductCardComponent.vue
  FE/src/validations/product.ts
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: product detail page
  FE/src/components/products/ProductCardComponent.vue
  FE/src/validations/product.ts
Due: cd FE && npm run lint, cd FE && npm run format

feat: cart
  BE/src/app.ts
  BE/src/config/cart.message.ts
  BE/src/controllers/authen.controller.ts
  BE/src/controllers/cart.controller.ts
  BE/src/middleware/.gitkeep
  BE/src/middlewares/auth.middleware.ts
  BE/src/middlewares/cart.middleware.ts
  BE/src/plugins/jwt.ts
  BE/src/routes/cart.routes.ts
  BE/src/schemas/cart.schema.ts
  BE/src/schemas/cart.zod.ts
  BE/src/services/cart.service.ts
  BE/src/services/product.service.ts
  BE/src/types/cart.type.ts
  FE/src/components/products/ProductCardComponent.vue
  FE/src/css/tailwind.css
  FE/src/views/products/ProductListView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: be cart
  BE/src/config/cart.message.ts
  BE/src/controllers/cart.controller.ts
  BE/src/middlewares/auth.middleware.ts
  BE/src/middlewares/cart.middleware.ts
  BE/src/services/cart.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be cart
  BE/src/controllers/cart.controller.ts
  BE/src/routes/cart.routes.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be cart
  BE/src/controllers/cart.controller.ts
  BE/src/controllers/cart.service.utils.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be cart
  BE/src/controllers/cart.controller.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: fe cart
  FE/src/App.vue
  FE/src/api/cart.ts
  FE/src/assets/empty-cart.svg
  FE/src/components/atoms/auth/_utils/GoogleLoginButtonComponent.vue
  FE/src/components/auth/forgot-password/FormComponent.vue
  FE/src/components/auth/login/FormComponent.vue
  FE/src/components/icons/CartIcon.vue
  FE/src/components/icons/EmptyCartIcon.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/enums/router.ts
  FE/src/hooks/useToast.ts
  FE/src/i18n/en/index.ts
  FE/src/router/index.ts
  FE/src/stores/auth/login/token.store.ts
  FE/src/stores/cart.ts
  FE/src/views/cart/CartView.vue
  FE/src/views/products/ProductDetailView.vue
  FE/vite.config.ts
Due: cd FE && npm run lint, cd FE && npm run format

fix: fe cart
  FE/src/App.vue
  FE/src/components/auth/login/FormComponent.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/stores/cart.ts
  FE/src/stores/useToastMessageStore.ts
  FE/src/views/cart/CartView.vue
Due: cd FE && npm run lint, cd FE && npm run format

feat: be-checkout
  BE/package-lock.json
  BE/package.json
  BE/src/app.ts
  BE/src/config/env.ts
  BE/src/constants/vnpay.constants.ts
  BE/src/controllers/address.controller.ts
  BE/src/controllers/cart.controller.ts
  BE/src/controllers/order.controller.ts
  BE/src/controllers/payment.controller.ts
  BE/src/controllers/shipping.controller.ts
  BE/src/routes/address.routes.ts
  BE/src/routes/order.routes.ts
  BE/src/routes/payment.routes.ts
  BE/src/routes/public-payment.routes.ts
  BE/src/routes/shipping.routes.ts
  BE/src/schemas/address.schema.ts
  BE/src/schemas/address.zod.ts
  BE/src/schemas/common.schema.ts
  BE/src/schemas/error.schema.ts
  BE/src/schemas/order.schema.ts
  BE/src/schemas/order.zod.ts
  BE/src/schemas/payment.schema.ts
  BE/src/schemas/shipping.schema.ts
  BE/src/services/address.service.ts
  BE/src/services/order.service.ts
  BE/src/services/shipping.service.ts
  BE/src/services/vnpay.service.ts
  BE/src/types/brand.type.ts
  BE/src/types/category.type.ts
  BE/src/utils/cart.service.utils.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be-checkout
  BE/src/config/env.ts
  BE/src/constants/error.constants.ts
  BE/src/controllers/address.controller.ts
  BE/src/controllers/order.controller.ts
  BE/src/controllers/payment.controller.ts
  BE/src/controllers/shipping.controller.ts
  BE/src/schemas/address.schema.ts
  BE/src/schemas/order.schema.ts
  BE/src/services/order.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be-checkout
  BE/src/constants/error.constants.ts
  BE/src/controllers/payment.controller.ts
  BE/src/schemas/order.schema.ts
  BE/src/services/order.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be-checkout
  BE/src/services/order.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be-address
  BE/src/app.ts
  BE/src/config/env.ts
  BE/src/config/response-code.ts
  BE/src/constants/address.messages.ts
  BE/src/constants/auth.message.ts
  BE/src/constants/brand.message.ts
  BE/src/constants/cart.message.ts
  BE/src/constants/category.message.ts
  BE/src/constants/oder.message.ts
  BE/src/constants/product.message.ts
  BE/src/controllers/address.controller.ts
  BE/src/controllers/authen.controller.ts
  BE/src/controllers/brand.controller.ts
  BE/src/controllers/cart.controller.ts
  BE/src/controllers/category.controller.ts
  BE/src/controllers/order.controller.ts
  BE/src/controllers/payment.controller.ts
  BE/src/controllers/product.controller.ts
  BE/src/middlewares/cart.middleware.ts
  BE/src/schemas/address.zod.ts
  BE/src/schemas/order.schema.ts
  BE/src/schemas/order.zod.ts
  BE/src/schemas/product.schema.ts
  BE/src/services/address.service.ts
  BE/src/services/auth-user.service.ts
  BE/src/services/brand.service.ts
  BE/src/services/cart.service.ts
  BE/src/services/category.service.ts
  BE/src/services/order.service.ts
  BE/src/services/product.service.ts
  BE/src/types/product.type.ts
  BE/src/validations/address.zod.ts
  BE/src/validations/auth-user.zod.ts
  BE/src/validations/brand.zod.ts
  BE/src/validations/cart.zod.ts
  BE/src/validations/category.zod.ts
  BE/src/validations/order.zod.ts
  BE/src/validations/product.zod.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be-address
  BE/src/constants/product.message.ts
  BE/src/controllers/product.controller.ts
  BE/src/services/product.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: fe-checkout
  FE/src/api/address.ts
  FE/src/api/payment.ts
  FE/src/api/shipping.ts
  FE/src/components/home/FeaturedProductsComponent.vue
  FE/src/components/icons/LogoutIcon.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/views/account/AddressListView.vue
  FE/src/views/account/MyOrdersView.vue
  FE/src/views/cart/CartView.vue
  FE/src/views/checkout/OrderCompleteView.vue
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: fe-checkout
  FE/src/api/cart.ts
  FE/src/api/payment.ts
  FE/src/api/province.ts
  FE/src/components/auth/forgot-password/FormComponent.vue
  FE/src/views/account/AddressListView.vue
  FE/src/views/account/EditAddressView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: fe-checkout
  FE/src/api/cart.ts
  FE/src/views/account/AddressListView.vue
  FE/src/views/account/EditAddressView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: fe-address
  FE/src/utils/string.ts
  FE/src/views/account/AddressListView.vue
  FE/src/views/account/EditAddressView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: fe-address
  FE/src/views/account/AddressListView.vue
  FE/src/views/account/EditAddressView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: category
  BE/README.md
  BE/src/controllers/product.controller.ts
  BE/src/services/product.service.ts
  BE/src/validations/product.zod.ts
  FE/README.md
  FE/src/api/product.ts
  FE/src/components/home/FeaturedProductsComponent.vue
  FE/src/components/molecules/utils/FilterDropdownComponent.vue
  FE/src/stores/checkout.ts
  FE/src/views/cart/CartView.vue
  FE/src/views/products/ProductListView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: brand
  BE/src/schemas/auth-user.schema.ts
  BE/src/schemas/cart.schema.ts
  BE/src/schemas/category.schema.ts
  FE/src/components/atoms/StarRatingComponent.vue
  FE/src/components/auth/forgot-password/FormComponent.vue
  FE/src/components/icons/StarIcon.vue
  FE/src/components/molecules/utils/FilterDropdownComponent.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/products/ProductListView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: brand
  FE/src/components/atoms/StarRatingComponent.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: brand
  BE/src/services/order.service.ts
  FE/src/components/products/ProductCardComponent.vue
  FE/src/components/products/ProductImageGalleryComponent.vue
  FE/src/components/products/ProductListComponent.vue
  FE/src/views/products/ProductListView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: brand done
  BE/src/plugins/swagger.ts
  FE/src/views/products/ProductListView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: brand done
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

feat: be-user-profile
  BE/.gitignore
  BE/package-lock.json
  BE/package.json
  BE/src/app.ts
  BE/src/controllers/user.controller.ts
  BE/src/plugins/index.ts
  BE/src/plugins/jwt.ts
  BE/src/plugins/multipart.plugin.ts
  BE/src/plugins/static.plugin.ts
  BE/src/routes/user.route.ts
  BE/src/schemas/user.schema.ts
  BE/src/services/user.service.ts
  BE/src/utils/file.util.ts
  BE/src/utils/zod.util.ts
  BE/src/validations/user.zod.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: be-user-profile
  BE/src/plugins/jwt.ts
  BE/src/validations/user.zod.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: fe-product
  BE/src/controllers/product.controller.ts
  BE/src/services/product.service.ts
  BE/src/validations/product.zod.ts
  FE/src/components/products/ProductCardComponent.vue
  FE/src/views/products/ProductListView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

feat: fe-product
  FE/src/css/main.css
  FE/src/views/account/AddressListView.vue
  FE/src/views/account/EditAddressView.vue
  FE/src/views/checkout/OrderCompleteView.vue
  FE/src/views/products/ProductDetailView.vue
Due: cd FE && npm run lint, cd FE && npm run format

feat: fe-profile
  FE/src/App.vue
  FE/src/api/user.ts
  FE/src/components/icons/CalendarDotsIcon.vue
  FE/src/components/icons/DefaultAvatarIcon.vue
  FE/src/components/icons/UserBagIcon.vue
  FE/src/components/icons/UserCircleIcon.vue
  FE/src/components/icons/UserLockIcon.vue
  FE/src/components/molecules/account/AvatarUpload.vue
  FE/src/components/molecules/account/ChangePasswordForm.vue
  FE/src/components/molecules/account/ProfileInfoForm.vue
  FE/src/components/molecules/utils/UserDropdown.vue
  FE/src/enums/router.ts
  FE/src/i18n/en/index.ts
  FE/src/router/index.ts
  FE/src/stores/user.store.ts
  FE/src/views/account/ProfileView.vue
  FE/vite.config.ts
Due: cd FE && npm run lint, cd FE && npm run format

feat: fe-profile
  FE/src/components/molecules/account/ProfileInfoForm.vue
Due: cd FE && npm run lint, cd FE && npm run format

feat: fe-profile
  FE/src/components/molecules/account/ProfileInfoForm.vue
  FE/src/i18n/en/index.ts
Due: cd FE && npm run lint, cd FE && npm run format

fix: fe-profile
  BE/src/services/product.service.ts
  FE/src/components/molecules/account/ProfileInfoForm.vue
  FE/src/i18n/en/index.ts
  FE/src/views/account/ProfileView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: fe-profile
  BE/src/controllers/user.controller.ts
  BE/src/routes/user.route.ts
  BE/src/schemas/user.schema.ts
  BE/src/validations/user.zod.ts
  FE/src/api/user.ts
  FE/src/components/atoms/auth/_utils/PasswordInputComponent.vue
  FE/src/components/molecules/account/ChangePasswordForm.vue
  FE/src/i18n/en/index.ts
  FE/src/stores/user.store.ts
  FE/src/views/account/MyOrdersView.vue
  FE/src/views/account/ProfileView.vue
  FE/src/views/checkout/OrderCompleteView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: fe-profile
  FE/src/components/molecules/account/ChangePasswordForm.vue
  FE/src/stores/user.store.ts
  FE/src/views/account/ProfileView.vue
Due: cd FE && npm run lint, cd FE && npm run format

Path conditions:
  cd BE && npm run lint: any of: BE/**/*.{ts,js}
  cd BE && npm run format: any of: BE/**/*.{ts,js}
  cd FE && npm run lint: any of: FE/**/*.{ts,js,vue}
  cd FE && npm run format: any of: FE/**/*.{ts,js,vue}
