Repository TMS-Thuong/final-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

feat: be-favorite
  BE/package-lock.json
  BE/package.json
  BE/src/app.ts
  BE/src/constants/favorite.message.ts
  BE/src/controllers/favorite.controller.ts
  BE/src/routes/favorite.routes.ts
  BE/src/schemas/favorite.schema.ts
  BE/src/services/favorite.service.ts
  BE/src/validations/favorite.zod.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be-favorite
  BE/src/controllers/favorite.controller.ts
  BE/src/schemas/favorite.schema.ts
  BE/src/services/favorite.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be-favorite
  BE/src/controllers/favorite.controller.ts
  BE/src/routes/favorite.routes.ts
  BE/src/schemas/favorite.schema.ts
  BE/src/services/favorite.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be-favorite
  BE/src/controllers/favorite.controller.ts
  BE/src/services/favorite.service.ts
  BE/src/types/favorite.types.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix: be-favorite
  BE/src/controllers/favorite.controller.ts
  BE/src/schemas/favorite.schema.ts
  BE/src/services/favorite.service.ts
  BE/src/types/favorite.types.ts
  FE/src/api/wishlist.ts
  FE/src/components/home/FeaturedProductsComponent.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/components/products/ProductListComponent.vue
  FE/src/css/_product-card.scss
  FE/src/views/cart/CartView.vue
  FE/src/views/home/HomeView.vue
  FE/src/views/products/ProductListView.vue
  FE/src/views/wishlist/WishlistView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: be-favorite
  FE/src/components/home/FeaturedProductsComponent.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/components/products/ProductListComponent.vue
  FE/src/css/_product-card.scss
Due: cd FE && npm run lint, cd FE && npm run format

fix: be-favorite
  BE/src/controllers/favorite.controller.ts
  BE/src/controllers/order.controller.ts
  BE/src/services/order.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: fe-favorite
  FE/src/components/home/FeaturedProductsComponent.vue
  FE/src/components/icons/EyeIcon.vue
  FE/src/components/icons/HeartIcon.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/components/products/ProductListComponent.vue
  FE/src/components/products/WishlistProductCard.vue
  FE/src/components/wishlist/WishlistEmpty.vue
  FE/src/components/wishlist/WishlistGrid.vue
  FE/src/components/wishlist/WishlistHeader.vue
  FE/src/components/wishlist/WishlistItem.vue
  FE/src/components/wishlist/WishlistSummary.vue
  FE/src/i18n/en/index.ts
  FE/src/router/index.ts
  FE/src/stores/wishlist.ts
  FE/src/views/home/HomeView.vue
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/wishlist/WishlistView.vue
Due: cd FE && npm run lint, cd FE && npm run format

feat: fe-favorite
  BE/src/controllers/favorite.controller.ts
  BE/src/schemas/favorite.schema.ts
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/components/wishlist/WishlistGrid.vue
  FE/src/components/wishlist/WishlistItem.vue
  FE/src/components/wishlist/WishlistSummary.vue
  FE/src/i18n/en/index.ts
  FE/src/stores/wishlist.ts
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/wishlist/WishlistView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

feat: fe-favorite
  BE/src/types/favorite.types.ts
  FE/src/App.vue
  FE/src/components/auth/login/FormComponent.vue
  FE/src/components/icons/HeartIcon.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/components/wishlist/WishlistEmpty.vue
  FE/src/components/wishlist/WishlistGrid.vue
  FE/src/components/wishlist/WishlistHeader.vue
  FE/src/components/wishlist/WishlistItem.vue
  FE/src/components/wishlist/WishlistSummary.vue
  FE/src/i18n/en/index.ts
  FE/src/stores/cart.ts
  FE/src/stores/wishlist.ts
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/wishlist/WishlistView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

feat: be-rating
  BE/src/app.ts
  BE/src/constants/message.constant.ts
  BE/src/constants/review.message.ts
  BE/src/controllers/review.controller.ts
  BE/src/controllers/upload.controller.ts
  BE/src/routes/review.route.ts
  BE/src/schemas/review.schema.ts
  BE/src/services/review.service.ts
  BE/src/services/upload.service.ts
  BE/src/services/user.service.ts
  BE/src/types/review.type.ts
  BE/src/validations/review.zod.ts
  BE/src/validations/user.zod.ts
  FE/src/api/user.ts
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/i18n/en/index.ts
  FE/src/stores/user.store.ts
  FE/src/types/user.ts
  FE/src/views/products/ProductDetailView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

feat: be-rating
  BE/src/controllers/order.controller.ts
  BE/src/routes/order.routes.ts
  BE/src/schemas/order.schema.ts
  BE/src/services/order.service.ts
Due: cd BE && npm run lint, cd BE && npm run format

feat: be-rating
  BE/src/controllers/review.controller.ts
  BE/src/routes/review.route.ts
  BE/src/services/review.service.ts
  FE/src/api/order.ts
  FE/src/api/review.ts
  FE/src/router/index.ts
  FE/src/views/account/MyPurchasedProductsView.vue
  FE/src/views/account/ProfileView.vue
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/products/ProductReviewModal.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

feat: be-rating
  FE/src/App.vue
  FE/src/components/atoms/auth/_utils/GoogleLoginButtonComponent.vue
  FE/src/i18n/en/index.ts
  FE/src/views/account/MyPurchasedProductsView.vue
Due: cd FE && npm run lint, cd FE && npm run format

feat: import attribute
  BE/src/scripts/importProductAttributes.ts
  BE/uploads/avatars/avatar-00e77380-6fb1-4d4e-9df3-cb5c43e1e5d1.jpeg
  BE/uploads/avatars/avatar-1d09612c-dcfc-46e1-a820-3addfa7c7c23.jpeg
  BE/uploads/avatars/avatar-1f810d98-8929-4d1a-976f-c926daced3c6.jpeg
  BE/uploads/avatars/avatar-22f30ddb-30cb-43ca-9b93-b1150cb41f2d.jpeg
  BE/uploads/avatars/avatar-318ad19c-6fba-418d-9965-502ba635ba00.jpeg
  BE/uploads/avatars/avatar-4a720a45-cf74-44ce-bf00-6f309049a933.jpeg
  BE/uploads/avatars/avatar-5f40fafb-332f-447a-bdfc-57c3f600879a.jpeg
  BE/uploads/avatars/avatar-6b8ce051-3de3-4b32-a366-c6fd6aee196c.jpeg
  BE/uploads/avatars/avatar-77fc1b8b-24c4-420b-b4be-2bc6b1d3bc4c.jpeg
  BE/uploads/avatars/avatar-7c7ea082-b7f1-4617-9345-e81d7053acfd.png
  BE/uploads/avatars/avatar-ae998600-ccfa-483e-963e-45b9129e87cc.jpeg
  BE/uploads/avatars/avatar-b61c208f-3836-4ea8-a80f-286ef324e683.jpeg
  BE/uploads/avatars/avatar-cfc392db-88ec-4d86-9c76-2d7534e119b7.jpeg
  BE/uploads/avatars/avatar-d6e02baf-b303-4d93-8694-bf7123048cbd.png
  BE/uploads/avatars/avatar-f2191b7a-a898-4692-a0e2-bfce2275807f.jpeg
  BE/uploads/avatars/avatar-ff0b2057-1110-40e5-8c6e-1a7b21fbb377.jpeg
  BE/uploads/reviews/review-7bce1697-c087-4de1-a9b4-0ef8b8d290d8.png
Due: cd BE && npm run lint, cd BE && npm run format

fix: fe
  BE/prisma/schema.prisma
  BE/src/controllers/product.controller.ts
  BE/src/routes/product.routes.ts
  BE/src/schemas/product.schema.ts
  BE/src/services/product.service.ts
  BE/src/services/review.service.ts
  BE/src/types/product.type.ts
  FE/src/api/cart.ts
  FE/src/api/product.ts
  FE/src/components/contact/ContactForm.vue
  FE/src/components/home/HeroSectionComponent.vue
  FE/src/components/molecules/checkout/AddressListModal.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/components/molecules/utils/UserDropdown.vue
  FE/src/components/organisms/FooterOrganism.vue
  FE/src/components/products/CartItem.vue
  FE/src/components/products/ProductImageGalleryComponent.vue
  FE/src/components/wishlist/WishlistItem.vue
  FE/src/helpers/configAxios.ts
  FE/src/i18n/en/index.ts
  FE/src/router/index.ts
  FE/src/stores/auth/login/token.store.ts
  FE/src/stores/cart/cart.ts
  FE/src/stores/payment/checkout.ts
  FE/src/stores/wishlist/wishlist.ts
  FE/src/utils/auth.ts
  FE/src/utils/cookie.ts
  FE/src/views/account/AddressListView.vue
  FE/src/views/account/MyOrdersView.vue
  FE/src/views/account/MyPurchasedProductsView.vue
  FE/src/views/account/ProfileView.vue
  FE/src/views/cart/CartView.vue
  FE/src/views/checkout/CheckoutView.vue
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/products/ProductListView.vue
  FE/src/views/products/ProductReviewModal.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: fe
  BE/package.json
  BE/prisma/seed.ts
  BE/railway.toml
  FE/railway.toml
  backup.sql
Due: cd BE && npm run lint, cd BE && npm run format

fix: deploy
  BE/package.json
  BE/prisma/seed.ts
  BE/railway.toml
  FE/railway.toml
Due: cd BE && npm run lint, cd BE && npm run format

fix: filter
  BE/src/controllers/product.controller.ts
  BE/src/schemas/product.schema.ts
  BE/src/services/product.service.ts
  FE/src/components/molecules/utils/HeaderSelectionComponent.vue
  FE/src/i18n/en/index.ts
  FE/src/views/account/AddressListView.vue
  FE/src/views/products/ProductListView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: abdb
  FE/src/components/auth/register/FormComponent.vue
  FE/src/i18n/en/index.ts
  FE/vite.config.ts
Due: cd FE && npm run lint, cd FE && npm run format

fix: ui
  BE/src/controllers/product.controller.ts
  BE/src/routes/product.routes.ts
  BE/src/schemas/product.schema.ts
  BE/src/services/product.service.ts
  BE/src/services/review.service.ts
  BE/src/types/product.type.ts
  FE/src/components/auth/register/FormComponent.vue
  FE/src/components/molecules/auth/_utils/RadioButtonGroupComponent.vue
  FE/src/components/molecules/utils/HeaderComponent.vue
  FE/src/components/molecules/utils/HeaderSelectionComponent.vue
  FE/src/i18n/en/index.ts
  FE/src/views/products/ProductDetailView.vue
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: ui
  FE/src/components/products/ProductListComponent.vue
  FE/src/router/index.ts
  FE/src/views/account/ProfileView.vue
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: ui
  FE/src/i18n/en/index.ts
  FE/src/views/account/MyOrdersView.vue
  FE/src/views/account/MyPurchasedProductsView.vue
  FE/src/views/products/ProductReviewModal.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: ui
  FE/src/components/atoms/InputTextComponent.vue
  FE/src/i18n/en/index.ts
Due: cd FE && npm run lint, cd FE && npm run format

fix: done
  BE/src/controllers/user.controller.ts
  BE/src/schemas/user.schema.ts
  FE/index.html
  FE/src/components/atoms/SubmitButtonComponent.vue
  FE/src/components/auth/login/FormComponent.vue
  FE/src/components/footer/FooterOrganism.vue
  FE/src/components/icons/AwardIcon.vue
  FE/src/components/icons/BuildingIcon.vue
  FE/src/components/icons/DeliveryIcon.vue
  FE/src/components/icons/HeadphonesIcon.vue
  FE/src/components/icons/ShieldIcon.vue
  FE/src/components/icons/StarIcon.vue
  FE/src/components/icons/TrendingUpIcon.vue
  FE/src/components/icons/TruckIcon.vue
  FE/src/components/molecules/account/ChangePasswordForm.vue
  FE/src/components/molecules/utils/HeaderSelectionComponent.vue
  FE/src/components/products/ProductCardComponent.vue
  FE/src/constants/auth/_utils/message.ts
  FE/src/enums/router.ts
  FE/src/i18n/en/index.ts
  FE/src/router/index.ts
  FE/src/stores/auth/login/token.store.ts
  FE/src/stores/cart/cart.ts
  FE/src/stores/payment/checkout.ts
  FE/src/stores/user/user.store.ts
  FE/src/stores/wishlist/wishlist.ts
  FE/src/types/user.ts
  FE/src/views/about/AboutView.vue
  FE/src/views/account/ProfileView.vue
  FE/src/views/cart/CartView.vue
  FE/src/views/checkout/CheckoutView.vue
  FE/src/views/products/ProductListView.vue
  package-lock.json
  package.json
Due: cd BE && npm run lint, cd BE && npm run format, cd FE && npm run lint, cd FE && npm run format

fix: fe
  FE/src/App.vue
  FE/src/components/cart/CartItemComponent.vue
  FE/src/components/contact/ContactFormComponent.vue
  FE/src/components/contact/ContactHeaderComponent.vue
  FE/src/components/contact/ContactInfoComponent.vue
  FE/src/components/contact/SocialMediaComponent.vue
  FE/src/components/footer/FooterOrganismComponent.vue
  FE/src/components/header/HeaderComponent.vue
  FE/src/components/molecules/account/AvatarUploadComponent.vue
  FE/src/components/molecules/account/ChangePasswordFormComponent.vue
  FE/src/components/molecules/account/ProfileInfoFormComponent.vue
  FE/src/components/molecules/address/AddressModalComponent.vue
  FE/src/components/molecules/checkout/AddressListModalComponent.vue
  FE/src/components/molecules/checkout/AddressSelectorComponent.vue
  FE/src/components/molecules/header/_utils/HeaderSelectionComponent.vue
  FE/src/components/molecules/header/_utils/UserDropdownComponent.vue
  FE/src/components/molecules/products/ProductImageGalleryComponent.vue
  FE/src/components/molecules/products/WishlistProductCardComponent.vue
  FE/src/components/molecules/utils/ConfirmModalComponent.vue
  FE/src/components/molecules/wishlist/WishlistEmptyComponent.vue
  FE/src/components/molecules/wishlist/WishlistGridComponent.vue
  FE/src/components/molecules/wishlist/WishlistHeaderComponent.vue
  FE/src/components/wishlist/WishlistItemComponent.vue
  FE/src/router/index.ts
  FE/src/views/about/AboutView.vue
  FE/src/views/account/ProfileView.vue
  FE/src/views/address/AddAddressView.vue
  FE/src/views/address/AddressListView.vue
  FE/src/views/address/EditAddressView.vue
  FE/src/views/cart/CartView.vue
  FE/src/views/checkout/AddressModalTest.vue
  FE/src/views/checkout/CheckoutView.vue
  FE/src/views/checkout/OrderCompleteView.vue
  FE/src/views/home/ContactView.vue
  FE/src/views/home/HomeView.vue
  FE/src/views/products/ProductDetailView.vue
  FE/src/views/wishlist/WishlistView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: fe
  FE/src/components/footer/FooterOrganismComponent.vue
  FE/src/components/molecules/header/_utils/HeaderSelectionComponent.vue
  FE/src/constants/auth/_utils/form.ts
  FE/src/helpers/configAxios.ts
  FE/src/i18n/en/index.ts
  FE/src/stores/auth/login/token.store.ts
  FE/src/stores/cart/cart.ts
  FE/src/stores/wishlist/wishlist.ts
  FE/src/utils/cookie.ts
  FE/src/views/cart/CartView.vue
  FE/src/views/products/ProductListView.vue
Due: cd FE && npm run lint, cd FE && npm run format

fix: prisma binaryTargets mismatch with OpenSSL
  BE/.gitignore
  BE/Dockerfile
  BE/README.md
  BE/docker-compose.yml
  BE/package-lock.json
  BE/package.json
  BE/src/app.ts
  BE/src/plugins/jwt.ts
  BE/src/utils/cart.service.utils.ts
  BE/tsconfig.json
Due: cd BE && npm run lint, cd BE && npm run format

fix: update start script with tsconfig-paths and Dockerfile CMD
  BE/package.json
Due: none

fix: update start script with tsconfig-paths and Dockerfile CMD
  BE/Dockerfile
  BE/docker-compose.yml
  BE/package.json
Due: none

fix
  BE/Dockerfile
Due: none

fix
  BE/src/server.ts
Due: cd BE && npm run lint, cd BE && npm run format

fix
  BE/docker-compose.yml
Due: none

check
  BE/src/app.ts
Due: cd BE && npm run lint, cd BE && npm run format

check
  BE/Dockerfile
Due: none

Path conditions:
  cd BE && npm run lint: any of: BE/**/*.{ts,js}
  cd BE && npm run format: any of: BE/**/*.{ts,js}
  cd FE && npm run lint: any of: FE/**/*.{ts,js,vue}
  cd FE && npm run format: any of: FE/**/*.{ts,js,vue}
